
<div class="col-md-4">
  <h1>Welcome to Websites TJ</h1>
  <h2>We build your Website</h2>
  <div class="thumbnail">
    <%= image_tag("Laptop_open.jpg", class: "img_responsive my-image") %>
  </div>
</div>
