<div class="panel panel-default">
  <div class="panel-body">
    <h4>Thank you. We have received your message and will come back to you as soon as possible.</h4>
    <%=link_to ('<span class="glyphicon glyphicon-step-backward"></span>Back').html_safe, :back%>
  </div><!-- / panel-body -->
</div><!-- / panel -->