// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.layout-static_pages {
  color: whitesmoke;
  font-family: Helvetica, sans-serif;
}
.carousel-indicators {
  margin-bottom: 8%;
}

.button-send {
  color: black;
}