<div class="basic_layout">
 <h1>Editing Product</h1>
</div>
<%= render 'form', product: @product %>

<br />
<br />
<%= link_to 'Show', @product, class:'btn btn-default' %> |
<%= link_to 'Back', products_path, class:'btn btn-default' %>
